<div class="container mt-md-4">
  <div class="row align-items-center">
    <div class="col"><h4 class="text-center">請選擇要加入的物件</h4></div>
    <div class="col"><h4 class="text-center">已選物件</h4></div>
    <div class="col"><h4 class="text-center">文字輸入區</h4></div>
  </div>
  <div class="row align-items-center">
    <div class="col">
          <div class="wrapper">
              <div class="mt-md-3">
                  <label for="hotMelt_leafList"><h5>Leaf List</h5></label>
                  <select class="form-select" size="3" aria-label=" select example" id="hotMelt_leafList" name="hotMelt_leafList[]" multiple size="8">
                      <option value="1">One</option>
                      <option name="2" value="2">Two</option>

                  </select>
                  <button class="mt-md-3 btn btn-success" id="hotMelt_leafAdd">Add</button>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="wrapper">
              <div class="m-md-3">
                  <label for="hotMelt_selectedList"><h5>Selected List</h5></label>
                  <select class="form-select" size="3" aria-label="size 10 select example" id="hotMelt_selectedList" name="hotMelt_selectedList[]" multiple>
                  </select>
                  <button class="mt-md-3 btn btn-success" id="hotMelt_btnRemove">Remove Selected items</button>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="wrapper">
              <div class="m-md-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
          </div>
      </div>

  </div>
</div>

<script type="text/javascript">
    const hotMelt_leafList = document.querySelector('#hotMelt_leafList');
    const hotMelt_leafAdd = document.querySelector('#hotMelt_leafAdd');
    const hotMelt_selectedList = document.querySelector('#hotMelt_selectedList');
    const hotMelt_btnRemove = document.querySelector('#hotMelt_btnRemove');
    hotMelt_leafAdd.onclick = (e) => {
        e.preventDefault();
        // save the selected option
        let selected = [];
        //record those are selected
        for (let i = 0; i < hotMelt_leafList.options.length; i++) {
            selected[i] = hotMelt_leafList.options[i].selected;
            hotMelt_leafList.options[i].selected = false;
        }

        // remove all selected option
        let index = hotMelt_leafList.options.length;
        while (index--) {
            if (selected[index]) {
                // create a new option
                const option = new Option(hotMelt_leafList.options[index].value, 'leaf_'+hotMelt_leafList.options[index].value, true, false);
                hotMelt_selectedList.add(option, undefined);
                console.log(hotMelt_leafList.options[index].value);
                console.log(option);
                hotMelt_leafList.options[index].style.display = 'none';
            }
        }
    };
    // remove selected option
    hotMelt_btnRemove.onclick = (e) => {
        e.preventDefault();
        // save the selected option
        let selected = [];

        for (let i = 0; i < hotMelt_selectedList.options.length; i++) {
            selected[i] = hotMelt_selectedList.options[i].selected;
        }
        // remove all selected option
        let index = hotMelt_selectedList.options.length;
        while (index--) {
            if (selected[index]) {
                //丟回bracnh or leaf
                var type, res;
                if (hotMelt_selectedList.options[index].value.search('leaf_')>=0) {
                    type = 'leaf';
                    res = hotMelt_selectedList.options[index].value.slice(5);
                    const option = new Option(res, res);
                    hotMelt_leafList.add(option, undefined);
                }else {
                    type = 'branch';
                    res = hotMelt_selectedList.options[index].value.slice(7);
                    const option = new Option(res, res);
                    //hotMelt_branchList.add(option, undefined);
                }
                console.log(res);
                console.log(typeof(res));
                console.log(hotMelt_selectedList.options[index].value);
                hotMelt_selectedList.remove(index);
            }
        }
    };
</script>


<script>
$(document).ready(function(){

    $.ajax({
      method: "POST",
      url: 'subfiles/showOptionsComponent0.php',
      cache: false,
      dataType:"json",
      data: {},
      success: function (data) {
          //console.log(data);
        console.log('success?!');
        var html = '';
        console.log(data);
        console.log(data.length);
        console.log('html'+html);
        if (!(data.length)) {
            html += '<option disabled selected value> -- no components -- </option>';
        } else {
            for(var count = 0; count < data.length; count++)
            {
              html += '<option value="'+data[count].name+'">'+data[count].name+'</option>';
            }
        }
console.log('html'+html);
        //console.log(html);
document.getElementById("hotMelt_leafList").innerHTML=html;

      },
      //error: function(err){console.log(err)},
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        alert(XMLHttpRequest.status);
        alert(XMLHttpRequest.readyState);
        alert(textStatus);
        }
    })
      .done(function( response ) {
          console.log('ajax done');
      });

});
</script>
