html {
  height: 100%;
}
body {
  min-height: 100%;
}
.btn-green{
  background-color: #00b34c;
  color: rgb(255, 255, 255);
}
.button2 {
    display: inline-block;
    width: 100%;
    padding: 5px 30px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #69946b;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 #999;
}
.button2:hover {
    background-color: #3e8e41;
    color: #fff;
}
.button2:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
